.upload-container {
    padding-top: 42px;
    padding-left: 80px;
  }

  .upload-container .line{
    width: 880px;
  }
  
  .upload-container h1 {
    font-size: 24px;
    color: #4CAF50;
  }
  
  .upload-container p {
    font-size: 16px;
    color: #818181;
    margin-bottom: 20px;
    font-style: italic;
  }

  .solid{
    border: 1px solid #A1A1A1;
    width: 380px;
    height: 280px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 250px;
  }
  
  .upload-box {
    max-width: 600px;
    border: 2px dashed #bbb;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 30px;
    cursor: pointer;
    display: inline-block;
    position: relative;
  }
  
  .upload-input {
    display: none;
  }
  
  .upload-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .uploaded-image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .upload-text {
    font-size: 18px;
    color: #4CAF50;
  }
  
  .upload-box:hover .upload-text {
    text-decoration: underline;
  }
  
  .upload-box p {
    font-size: 14px;
    color: #9B9B9B;
    font-style: normal;
    text-align: center;
  }

  .product-info {
    margin-top: 30px;
    text-align: left;
    margin-bottom: 80px;
  }

  .pr-info .refresh{
    margin-left: 430px;
    margin-top: 40px;
  }

  .product-info{
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    width: 820px;
    display: flex;
  }

  .img-box{
    width: 228px;
    height: 201px;
    border: 1px solid #9E9E9E;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    margin-top: 150px;
  }

  .pr-infos{
    margin-top: 33px;
    margin-left: 63px;
  }
  
  .pr-infos h3 {
    font-size: 20px;
    color: #4CAF50;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
  }
  
  .pr-infos ul {
    list-style-type: disc;
  }

  .v{
    margin-left: 20px;
    font-size: 16px;
  }
  .inf{
    width: 400px;
  }
  .pr-infos p {
    font-size: 16px;
    color: #333;
    margin: 0;
  }
  
  .pr-infos ul li {
    font-size: 14px;
    color: #555;
    font-style: italic;
  }
  
  .pr-infos p strong {
    color: #333;
  }
  